# ─── FRONTEND ──────────────────────────────
notes_frontend/node_modules/
notes_frontend/dist/
notes_frontend/.env

# ─── BACKEND ───────────────────────────────
notes_backend/__pycache__/
notes_backend/**/*.pyc
notes_backend/db.sqlite3
notes_backend/.env
notes_backend/venv/
notes_backend/env/

# ─── GENERAL ───────────────────────────────
*.log
*.swp
*.swo
.env
*.sqlite3
.DS_Store
