version: "3.9"

services:
  backend:
    build:
      context: ./notes_backend
    container_name: notes-backend
    ports:
      - "8000:8000"
    volumes:
      - ./notes_backend:/app
    env_file:
      - .env
    depends_on:
      - db

  frontend:
    build:
      context: ./notes_frontend
    container_name: notes-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./notes_frontend:/app
      - /app/node_modules
    working_dir: /app
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: notes-db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

volumes:
  postgres_data:
